.login_struct {
  max-width: 85%;
}

.login_image {
  width: 90%;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  display: block;
}

.text-justify{
  text-align: justify;
}
.text-styleRegistro{
font-family: "Jost-Italic";
color: #dbeafc;
}

.text-parrafo{
  font-family: "Jost";
}

.img-registro{
  width: 6%;
}

.bg-form{
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.2),   /* sombra corta y marcada */
    0 8px 20px rgba(0, 0, 0, 0.15), /* sombra más larga y difusa */
    0 12px 40px rgba(73, 156, 235, 0.25); /* toque de color para 3D */
}